body{
    background-color: #EAF6F6;
    margin:0;

}
hr{
    border-color: gray;
    border-style:  none;
    border-top-style: dotted;
    width: 10%;
    border-width: 5px;
    
}
img:hover{
    border-color: white;
}

h1{
    color: #66BFBF;


}
h3{
    color: #66BFBF;

}

.DeepikaandSid{
    background-color: red;
    height: 400px;
    border-color: black;
    border-width: 500px;


}

.circular{
    border-radius: 100%;
}

div{
    background-color: #478585;
}
